PORT=
DB_URL=mongodb+srv://example_db_user_name:example_db_user_password@cluster0.oggyj.mongodb.net/example?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=

# BCRYPT
BCRYPT_SALT_ROUND=

#JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

# SUPER ADMIN
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# GOOGLE
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=

# EXPRESS SESSION
EXPRESS_SESSION_SECRET=

# FRONTEND URL
FRONTEND_URL=

# SMTP GMAIL SETUP
# SMTP= Simple Mail Transfer Protocol
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# SSLCOMMERZ
SSL_STORE_ID=
SSL_STORE_PASSWORD=
SSL_PAYMENT_API=
SSL_VALIDATION_API=
SSL_IPN_URL=

# SSLCOMMERZ BACKEND URLs
SSL_SUCCESS_BACKEND_URL=
SSL_FAIL_BACKEND_URL=
SSL_CANCEL_BACKEND_URL=

# SSLCOMMERZ FRONTED URLs
SSL_SUCCESS_FRONTEND_URL=
SSL_FAIL_FRONTEND_URL=
SSL_CANCEL_FRONTEND_URL=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=